<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>-->

    <h2 class="footer-heading">{{ site.title | escape }} - {{ site.author | escape }}</h2>
    <div class="footer-links">
      <ul>
        {% if site.github_username %}
          {% include icon-github.html username=site.github_username %}
        {% endif %}

        {% if site.codepen_username %}
          {% include icon-codepen.html username=site.codepen_username %}
        {% endif %}

        {% if site.csdn_usercode %}
          {% include icon-csdn.html usercode=site.csdn_usercode %}
        {% endif %}
      </ul>
    </div>
  </div>
</footer>
