/* ==========================================================================
   Article
   ========================================================================== */

.c-article {

}

.c-article__main {
  //max-width: 76rem; // 760px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5rem;
  padding-bottom: 7.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  @include fs--body;

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__black, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
  }

  blockquote {
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    padding: 2.5rem;
    background: $c__light-grey;
  }

  h1 {
    font-size: 2em;
  }

  ul {
    margin-left: 2.5em;
  }
}

@media (max-width: 567px) {
    .c-article__main {
        padding-right: 1.0rem;
        padding-left: 1.0rem;
        padding-top: 1.0rem;
    }
}