/* ==========================================================================
   Footer
   ========================================================================== */
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 64px;
}
.footer {
  margin: 25px 0;
  text-align: center;
  color: #3a4250;
}
.footer__copyright {
  margin: 0 0 10px;
  font-size: 1.6rem;
  line-height: 1;
}
.footer__links ul {
  margin: 0;
  padding: 0;
}
.footer__links li {
  display: inline-block;
  margin: 0 5px;
}
.footer__links li a {
  display: block;
}
.footer__links li a img {
  opacity: .8;
  width: 22px;
}